*, *::before, *::after {
    // outline: auto; 
}

body {
    letter-spacing: .02em;
}

.font-family-inter {
    font-family: $font-family-inter;
    letter-spacing: 0;
}

a {
    display: inline-block;
    color: inherit;
}