<section class="py-8 py-md-8">
		<div class="container">
			<div class="bg-primary rounded-4 px-9 py-6">
				<img class="img-fluid mb-6" src="../assets/images/logo-icon-w.svg" alt="">
				<h3 class="h2 text-white mb-3">邁向你真正想過的生活，從這裡開始</h3>
				<p class="fs-6 fs-md-7 fw-light text-white pb-6 border-bottom-dash mb-6">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
				<div class="d-flex">
					<a class="link-light font-family-inter fw-normal me-6" href="tel:+886-800123123"><span class="material-symbols-outlined align-top fs-4 me-2">phone</span>0800-123-123</a>
					<a class="link-light font-family-inter fw-normal" href="mailto:Sample@mail.com"><span class="material-symbols-outlined align-top fs-4 me-2">mail</span>Sample@mail.com</a>
					<a class="btn btn-dark pe-2 pe-sm-3 ms-auto mb-4 mb-md-0" href="contact.html">預約免費職涯探索<span class="material-symbols-outlined align-bottom fs-5 ms-0 ms-sm-1">chevron_right</span></a>
				</div>
			</div>
		</div>
	</section>