<nav class="navbar sticky-top navbar-expand-lg bg-white border-bottom">
        <div class="container">
            <h1 class="fs-0">
                <a class="navbar-brand" href="index.html">
                    <img class="img-fluid" src="../assets/images/logo.svg" alt="職旅 Workway">
                </a>
            </h1>
            <ul class="navbar-nav d-none d-lg-flex column-gap-3">
                <li class="nav-item">
                    <a class="nav-link rounded" aria-current="page" href="service.html">服務方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded" href="about.html">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded" href="contact.html">聯絡我們</a>
                </li>
            </ul>
            <a class="avatar ms-auto ms-lg-0 me-3 me-lg-0" href="member.html">
                <img class="img-fluid rounded-circle border" src="../assets/images/member/avatar.png" alt="avatar">
                <span class="ms-1 font-family-inter fw-medium fs-8 fs-lg-6">Mokumaru</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="modal" data-bs-target="#">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>