<nav class="navbar sticky-top navbar-expand-lg bg-white border-bottom">
        <div class="container">
            <h1 class="fs-0">
                <a class="navbar-brand" href="#">
                    <img class="img-fluid" src="../assets/images/logo.svg" alt="職旅 Workway">
                </a>
            </h1>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link rounded" aria-current="page" href="#">服務方案</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" href="#">關於職旅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" href="#">聯絡我們</a>
                    </li>
                </ul>
            </div>
            <a class="avatar d-none d-lg-block" href="#">
                <img class="img-fluid rounded-circle border" src="../assets/images/account/avatar.png" alt="avatar">
                <span class="ms-1 font-family-inter fw-medium">Mokumaru</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>