.btn-outline-light, .btn-outline-light.show, .btn-outline-light:focus, .btn-outline-light:focus-visible {
    border-radius: $border-radius;
    border: 1px solid $natural-85;
    color: $black;

    &:active, :not(.btn-check) &:active, &:hover {
        color: $black;
        background-color: $natural-85;
    }
}

.btn-dark {
    &:active, :not(.btn-check) &:active, &:hover, &:focus, &:focus-visible {
        border: 1px solid $secondary-50;
        color: $black;
        background-color: $secondary-50;
    }
}