form {
    max-width: 656px;
}

.form-floating {
    > label {
        white-space: inherit; 
        text-overflow: inherit;
        overflow: visible;
        @include media-breakpoint-down(sm) {
            font-size: .875rem;
        }
    }

    > .form-control:focus ~ label,
    > .form-control:not(:placeholder-shown) ~ label {
        color: $natural-50;
    }

    > .form-control:focus ~ label,
    > .form-control:not(:placeholder-shown) ~ label,
    > .form-control-plaintext ~ label,
    > .form-select ~ label {
        transform: scale(.85) translateY(-.75rem) translateX(.15rem);

        @include media-breakpoint-down(md) {
            transform: scale(.85) translateY(-.6rem) translateX(.15rem);
        }
    }
}

.form-check-inline {
    @include media-breakpoint-down(sm) {
        margin-right: 1rem;
    }
}

$checkmark-color: $white;
$checkmark-color-hex: str-slice(#{inspect($checkmark-color)}, 2);

input.form-check-input[type="checkbox"]:checked {
    background-color: $primary;

    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23#{$checkmark-color-hex}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

textarea {
    resize: none;
}