.modal-dialog {
    @include media-breakpoint-down(sm) {
        --bs-modal-margin: 1.5rem;
    }
}

.modal-header {
    .btn-close {
        padding: .625rem;
    }
}

.modal-footer {
    padding: $spacer $spacer * 1.5;

    .btn {
        --bs-btn-padding-x: 1.25rem;
    }
}

.modal-footer > * {
    margin: 0;
}