.navbar-nav {
    gap: $spacer * .75;
}

.nav-link {
    &:hover, &.active {
        background: $natural-90;
    }
}

.avatar {
    img {
        max-width: 44px;
    }

    &:hover span {
        text-decoration: underline;
    }
}