.bg-basemap {
    background: url("../images/service/banner-bg-pc.png") no-repeat center top $natural-95;
    background-size: cover;

    @include media-breakpoint-down(md) {
        background: url("../images/service/banner-bg.png") repeat left top $natural-95;
        background-size: contain;
    }

    .container {
        &::after {
            @include pseudo;
            right: 8.75rem;
            bottom: -5.5rem;
            width: 160px;
            height: 120px;
            background: url("../images/service/banner-person.svg") no-repeat center center;
            background-size: cover;
            z-index: 0;

            @include media-breakpoint-down(xxl) {
                right: calc(var(--bs-gutter-x) * 0.5);
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }
}

.consultant-team {
    .card {
        max-width: 320px;

        @include media-breakpoint-down(md) {
            --bs-card-border-radius: 1rem;
        }
    }
    .card-img, .card-img-top {
        @include media-breakpoint-down(md) {
            --bs-card-inner-border-radius: 1rem;
        }
    }
}

.dialog {
    border-radius: .75rem;
    position: relative;
    display: inline-block;
    z-index: 0;

    &::after {
        @include pseudo;
        width: 28px;
        height: 28px;
        bottom: -8px;
        left: 50%;
        background-color: $white;
        transform: translate(-50%) rotate(45deg);
        z-index: -1;
    }

    &.border-primary {
        &::before {
            @include pseudo;
            border-radius: .75rem;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            background-color: $white;
            z-index: -1;
        }
        &::after {
            border: 2px solid $primary;
            z-index: -2;
        }
    }
}

.company-info {
    th {
        min-width: 120px;
        width: 120px;
    }

    .map {
        height: 400px;
        @include media-breakpoint-down(sm) {
            height: 200px;
        }
    }

    &::before {
        @include pseudo;
        width: 100%;
        height: 280px;
        bottom: 0;
        left: 0;
        background-color: $white;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}