.account {
    .nav-pills {
        gap: $spacer * 1.5;
    }

    .nav-link {
        padding: $spacer * .75 $spacer * 1.25;
        background-color: $white;
    }

    form {
        max-width: 656px;
    }

    .avatar {
        max-width: 120px;
    }

    .form-floating > .form-control:focus ~ label, 
    .form-floating > .form-control:not(:placeholder-shown) ~ label{
        color: $natural-50;
    }

    .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
        transform: scale(.85) translateY(-.75rem) translateX(.15rem);
    }
}