.service-list {
    input[type="radio"] {
        display: none;
    }

    label {
        border: 2px solid transparent;
        position: relative;
        transition: .15s;
        overflow: hidden;
    }

    input[type="radio"]:checked + label {
        border: 2px solid $secondary;

        &::before {
            @include pseudo;
            content: "HOT";
            border-bottom-right-radius: .75rem;
            padding: .5rem 1rem;
            left: -2px;
            top: -2px;
            font-size: .875rem;
            font-weight: 700;
            font-family: $font-family-inter;
            background-color: $secondary;
        }
    }
}

.member-plan {
    &::before {
        @include pseudo;
        width: 100%;
        height: 300px;
        top: 0;
        left: 0;
        background-color: $natural-95;
    }
    .img-fluid:nth-child(2), .img-fluid:nth-child(3) {
        bottom: -1px;
    }
}