<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職旅 Workway</title>
	<link rel="icon" href="../assets/images/favicon.ico">
</head>
<body>
	<%- include('./layout/nav'); -%>

	<header class="workway py-9 py-md-12 position-relative">
		<div class="container-fluid position-relative">
			<div class="workway-info mx-auto">
				<h2 class="display-1 text-center mb-6">一起陪伴、探索<br>還有你那些未完成的夢</h2>
				<div class="d-flex justify-content-between mb-8 py-1">
					<p class="text-natural-50 fs-6 fs-md-7">自由工作很美，也很難。<br>我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常</p>
					<a class="d-inline-flex align-items-center justify-content-center btn btn-lg btn-secondary fw-bold pe-2 pe-sm-3" href="service.html">開始你的職旅<span class="material-symbols-outlined fs-3 ms-0 ms-sm-1">chevron_right</span></a>
				</div>
			</div>
			<div class="row px-3">
				<div class="col-xxl-4 col-md-6 d-none d-md-block">
					<img class="img-fluid h-100" src="../assets/images/index/hero-1.png" alt="一起陪伴、探索，還有你那些未完成的夢">
				</div>
				<div class="col-xxl-4 d-none d-xxl-block">
					<div class="row flex-column row-gap-6">
						<div class="col">
							<img class="img-fluid h-100" src="../assets/images/index/hero-2.png" alt="一起陪伴、探索，還有你那些未完成的夢">
						</div>
						<div class="col">
							<img class="img-fluid h-100" src="../assets/images/index/hero-3.png" alt="一起陪伴、探索，還有你那些未完成的夢">
						</div>
					</div>
				</div>
				<div class="col-xxl-4 col-md-6">
					<img class="img-fluid h-100" src="../assets/images/index/hero-4.png" alt="一起陪伴、探索，還有你那些未完成的夢">
				</div>
			</div>
		</div>
	</header>

	<section class="story py-9 py-md-12 position-relative overflow-hidden">
		<div class="container">
			<div class="row flex-nowrap align-items-center">
				<div class="col-4">
					<img class="img-fluid mb-6" src="../assets/images/logo-icon.svg" alt="Workway">
					<h3 class="h1 mb-6">他們已經踏上職旅<br>聽聽他們的故事</h3>
					<p class="text-natural-50 fs-6 fs-md-7">每一段職涯轉型都有獨特挑戰，這些曾經與你有相同疑惑的夥伴，現在正過著他們嚮往的生活</p>
				</div>
				<div class="col-8 bleed-right">
					<div class="swiper story-cover p-3">
						<ul class="swiper-wrapper mb-0 p-0">
							<li class="swiper-slide card shadow-sm">
								<img src="../assets/images/index/story-cover-1.png" class="card-img-top" alt="郭敏迪">
								<div class="card-body d-flex flex-column">
									<span class="badge position-absolute top-0 start-0 bg-primary text-white px-4 py-2 rounded-1 fs-8 fs-md-6 mt-3 ms-3">數位遊牧 2 年</span>
									<h4 class="h4 mb-4">轉型成功的設計師</h4>
									<p class="text-natural-50 fs-8 mb-4">從企業設計師轉職自由接案，比我想的難太多。收入不穩時我幾乎想放棄，是職旅顧問幫我找回方向與差異化。半年後，我不僅維持收入，還能自由挑案，最重要的是，我終於有時間陪爸媽。</p>
									<div class="d-flex align-items-end mt-auto">
										<p class="fw-bold fs-8 fs-md-6 border-end pe-2">視覺設計師</p><span class="fs-8 ps-2">郭敏迪 (34y)</span>
									</div>
								</div>
							</li>
							<li class="swiper-slide card shadow-sm">
								<img src="../assets/images/index/story-cover-2.png" class="card-img-top" alt="林雨潔">
								<div class="card-body d-flex flex-column">
									<span class="badge position-absolute top-0 start-0 bg-primary text-white px-4 py-2 rounded-1 fs-8 fs-md-6 mt-3 ms-3">數位遊牧 2 年</span>
									<h4 class="h4 mb-4">數位遊牧生活實踐者</h4>
									<p class="text-natural-50 fs-8 mb-4">兩年前我只想環遊世界，卻不知道怎麼開始。職旅給了我遠端工作與生活規劃的指導。現在我在五個國家工作過，收入比以前多 20%。每次打開電腦，看見窗外不同的風景，都慶幸當初那一個決定。</p>
									<div class="d-flex align-items-end mt-auto">
										<p class="fw-bold fs-8 fs-md-6 border-end pe-2">內容策略師</p><span class="fs-8 ps-2">林雨潔 (29y)</span>
									</div>
								</div>
							</li>
							<li class="swiper-slide card shadow-sm">
								<img src="../assets/images/index/story-cover-3.png" class="card-img-top" alt="張世明">
								<div class="card-body d-flex flex-column">
									<span class="badge position-absolute top-0 start-0 bg-primary text-white px-4 py-2 rounded-1 fs-8 fs-md-6 mt-3 ms-3">數位遊牧 3 年</span>
									<h4 class="h4 mb-4">中年轉型的工程師</h4>
									<p class="text-natural-50 fs-8 mb-4">59 歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
									<div class="d-flex align-items-end mt-auto">
										<p class="fw-bold fs-8 fs-md-6 border-end pe-2">系統架構顧問</p><span class="fs-8 ps-2">張世明 (62y)</span>
									</div>
								</div>
							</li>
							<li class="swiper-slide card shadow-sm">
								<img src="../assets/images/index/story-cover-4.png" class="card-img-top" alt="陳怡安">
								<div class="card-body d-flex flex-column">
									<span class="badge position-absolute top-0 start-0 bg-primary text-white px-4 py-2 rounded-1 fs-8 fs-md-6 mt-3 ms-3">數位遊牧 1 年</span>
									<h4 class="h4 mb-4">勇敢跨出的行銷顧問</h4>
									<p class="text-natural-50 fs-8 mb-4">我原本在廣告公司加班到深夜，生活幾乎沒有自己。轉向遠端後，雖然一開始案源不穩，但靠著專業定位與人脈經營，我開始能自由選擇客戶，並在峇里島工作。現在的我，有更多時間陪自己，也能找到真正的生活步調。</p>
									<div class="d-flex align-items-end mt-auto">
										<p class="fw-bold fs-8 fs-md-6 border-end pe-2">行銷顧問</p><span class="fs-8 ps-2">陳怡安 (31y)</span>
									</div>
								</div>
							</li>
							<li class="swiper-slide card shadow-sm">
								<img src="../assets/images/index/story-cover-5.png" class="card-img-top" alt="李承翰">
								<div class="card-body d-flex flex-column">
									<span class="badge position-absolute top-0 start-0 bg-primary text-white px-4 py-2 rounded-1 fs-8 fs-md-6 mt-3 ms-3">數位遊牧 4 年</span>
									<h4 class="h4 mb-4">從金融轉戰產品經理</h4>
									<p class="text-natural-50 fs-8 mb-4">我在銀行工作十年，卻總覺得日子一成不變。離開後開始學習數位產品設計與管理，靠職旅的課程與社群支持，我順利轉型成產品經理。現在一邊遠端工作，一邊在歐洲不同城市生活，每次轉換環境都讓我清楚自己想要什麼。</p>
									<div class="d-flex align-items-end mt-auto">
										<p class="fw-bold fs-8 fs-md-6 border-end pe-2">產品經理</p><span class="fs-8 ps-2">李承翰 (37y)</span>
									</div>
								</div>
							</li>
							<li class="swiper-slide card shadow-sm">
								<img src="../assets/images/index/story-cover-6.png" class="card-img-top" alt="周南風">
								<div class="card-body d-flex flex-column">
									<span class="badge position-absolute top-0 start-0 bg-primary text-white px-4 py-2 rounded-1 fs-8 fs-md-6 mt-3 ms-3">數位遊牧 2 年</span>
									<h4 class="h4 mb-4">用攝影記錄世界的創作者</h4>
									<p class="text-natural-50 fs-8 mb-4">我曾經是婚禮攝影師，疫情後工作大幅減少。嘗試數位遊牧後，透過社群媒體分享旅途故事，意外累積了品牌合作與課程學生。現在我帶著相機走遍南美洲，不只重拾收入，更重新找到影像創作的初心。</p>
									<div class="d-flex align-items-end mt-auto">
										<p class="fw-bold fs-8 fs-md-6 border-end pe-2">攝影創作者</p><span class="fs-8 ps-2">周南風 (28y)</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="workway-why bg-natural-95 py-9 py-md-12">
		<div class="container position-relative text-center">
			<h4 class="h5 bg-white border border-primary border-2 text-primary dialog px-5 pe-4 py-3 mb-4 mb-md-5">為什麼？</h4>
			<h3 class="h1 mb-9">選擇職旅 WorkWay</h3>
			<ul class="list-unstyled row mb-9">
				<li class="col-4 position-relative">
					<div class="rounded-4 position-relative overflow-hidden">
						<img class="img-fluid" src="../assets/images/index/adv-1.png" alt="實戰經驗">
						<div class="workway-select rounded-4 position-absolute w-100 h-100 start-0 top-0 d-flex align-items-center p-6">
							<p class="text-white fs-8 fs-md-6">我們的顧問都是親身走過這條路的專家，不是紙上談兵的理論家。你所學到的每一個建議，都是經過無數次嘗試與錯誤後萃取的精華。</p>
						</div>
					</div>
					<div class="workway-badge d-inline-flex justify-content-center align-items-center bg-natural-95 position-absolute start-0 bottom-0 p-3 pe-6 ms-3">
						<span class="material-symbols-outlined text-primary me-2">ads_click</span>
						<h4 class="h4 text-natural-50">實戰經驗</h4>
					</div>
				</li>
				<li class="col-4 position-relative">
					<div class="rounded-4 position-relative overflow-hidden">
						<img class="img-fluid" src="../assets/images/index/adv-2.png" alt="全方位支持">
						<div class="workway-select rounded-4 position-absolute w-100 h-100 start-0 top-0 d-flex align-items-center p-6">
							<p class="text-white fs-8 fs-md-6">從心態調整到實際操作，從品牌建立到財務規劃，我們提供你轉型路上需要的每一塊拼圖，讓不確定感不再阻礙你的決定。</p>
						</div>
					</div>
					<div class="workway-badge d-inline-flex justify-content-center align-items-center bg-natural-95 position-absolute start-0 bottom-0 p-3 pe-6 ms-3">
						<span class="material-symbols-outlined text-primary me-2">ads_click</span>
						<h4 class="h4 text-natural-50">全方位支持</h4>
					</div>
				</li>
				<li class="col-4 position-relative">
					<div class="rounded-4 position-relative overflow-hidden">
						<img class="img-fluid" src="../assets/images/index/adv-3.png" alt="社群力量">
						<div class="workway-select rounded-4 position-absolute w-100 h-100 start-0 top-0 d-flex align-items-center p-6">
							<p class="text-white fs-8 fs-md-6">加入職旅不只是獲得諮詢，更是連結到一群志同道合的夥伴。在這裡，你的疑惑有人解答，你的成就有人分享，你的旅程不再孤單。</p>
						</div>
					</div>
					<div class="workway-badge d-inline-flex justify-content-center align-items-center bg-natural-95 position-absolute start-0 bottom-0 p-3 pe-6 ms-3">
						<span class="material-symbols-outlined text-primary me-2">ads_click</span>
						<h4 class="h4 text-natural-50">社群力量</h4>
					</div>
				</li>
			</ul>
			<div class="workway-text d-flex align-items-center">
				<p class="flex-shrink-0 text-natural-50 fw-medium fs-8 fs-md-6 me-6">不是套模板的建議，而是為你量身打造的陪伴！</p>
			</div>
		</div>
	</section>

	<section class="workway-partner py-9 py-md-12 position-relative overflow-hidden">
		<div class="container position-relative">
			<div class="row">
				<div class="col-6">
					<div class="rounded-1 overflow-hidden">
						<img class="img-fluid" src="../assets/images/index/team.png" alt="職涯夥伴">
					</div>
				</div>
				<div class="col-6">
					<div class="px-3">
						<h3 class="h1 mb-6">遇見你的職涯夥伴</h3>
						<p class="text-natural-50 fs-6 fs-md-7 mb-6">每位顧問都有獨特專長，更重要的是：</p>
						<h4 class="h4 bg-natural-95 p-2 text-primary d-inline-flex mb-6">“ 他們都曾面對你正在經歷的挑戰 ”</h4>
						<p class="text-natural-50 fs-6 fs-md-7 mb-6">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。我們的顧問不只教授理論，更分享親身經歷的挑戰與解決之道。</p>
						<p class="text-natural-50 fs-6 fs-md-7 mb-6">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
						<a class="d-inline-flex align-items-center justify-content-center btn btn-dark pe-2 pe-sm-3 me-auto me-lg-0 ms-lg-auto" href="contact.html">了解更多職旅夥伴<span class="material-symbols-outlined fs-5 ms-0 ms-sm-1">chevron_right</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-primary py-9 py-md-12">
		<div class="container text-center">
			<h3 class="h1 text-white mb-6">服務流程</h3>
			<p class="text-white text-center fs-6 fs-md-7 mb-9">簡單四步，踏上你的職旅</p>
			<ol class="list-unstyled row">
				<li class="col-3">
					<div class="bg-white rounded-4 position-relative px-6 pt-10 pb-9">
						<p class="step-badge bg-natural-95 text-primary fs-8 fw-bold font-family-inter letter-sm d-inline position-absolute start-0 top-0">STEP<span class="fs-6 fs-md-7 ms-1">1</span></p>
						<img class="img-fluid mb-6" src="../assets/images/index/serve-1.svg" alt="免費註冊會員">
						<h4 class="h4 mb-6">免費註冊會員</h4>
						<p class="text-natural-50 fs-8">透過網站左上角按鈕，立即註冊免費會員，與我們開始建立連結。</p>
					</div>
				</li>
				<li class="col-3">
					<div class="bg-white rounded-4 position-relative px-6 pt-10 pb-9">
						<p class="step-badge bg-natural-95 text-primary fs-8 fw-bold font-family-inter letter-sm d-inline position-absolute start-0 top-0">STEP<span class="fs-6 fs-md-7 ms-1">2</span></p>
						<img class="img-fluid mb-6" src="../assets/images/index/serve-2.svg" alt="填寫職旅計劃">
						<h4 class="h4 mb-6">填寫職旅計劃</h4>
						<p class="text-natural-50 fs-8">了解你的技能、熱情與市場需求的交會點，找出屬於你的獨特定位。</p>
					</div>
				</li>
				<li class="col-3">
					<div class="bg-white rounded-4 position-relative px-6 pt-10 pb-9">
						<p class="step-badge bg-natural-95 text-primary fs-8 fw-bold font-family-inter letter-sm d-inline position-absolute start-0 top-0">STEP<span class="fs-6 fs-md-7 ms-1">3</span></p>
						<img class="img-fluid mb-6" src="../assets/images/index/serve-3.svg" alt="初次諮詢">
						<h4 class="h4 mb-6">初次諮詢</h4>
						<p class="text-natural-50 fs-8">依據你的目標與現況，給予最直接的建議，建立清晰的轉型思路。</p>
					</div>
				</li>
				<li class="col-3">
					<div class="bg-white rounded-4 position-relative px-6 pt-10 pb-9">
						<p class="step-badge bg-natural-95 text-primary fs-8 fw-bold font-family-inter letter-sm d-inline position-absolute start-0 top-0">STEP<span class="fs-6 fs-md-7 ms-1">4</span></p>
						<img class="img-fluid mb-6" src="../assets/images/index/serve-4.svg" alt="實戰指導">
						<h4 class="h4 mb-6">實戰指導</h4>
						<p class="text-natural-50 fs-8">專家一對一指導，從品牌建立到客戶開發，每一步都有明確方向。</p>
					</div>
				</li>
			</ol>
		</div>
	</section>

	<section class="qa py-9 py-md-12">
		<div class="container">
			<div class="text-center">
				<h4 class="h5 bg-white border border-primary border-2 text-primary dialog px-5 pe-4 py-3 mb-4 mb-md-5">\ Q&A /</h4>
				<h3 class="h1 mb-9">你可能有些困惑...</h3>
			</div>
			<div class="row">
				<div class="col-5">
					<img class="img-fluid" src="../assets/images/index/qa.svg" alt="">
				</div>
				<div class="col-7"></div>
			</div>
		</div>
	</section>

	<%- include('./layout/call-to-action'); -%>

	<%- include('./layout/footer'); -%>

	<%- include('./layout/modal'); -%>
	
	<script type="module" src="../main.js"></script>
</body>
</html>